.bruhbox {
    background-color: #ffffff77;
}
.bruh-contents {
    text-align: center;
}
.bruh-header {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0px;
    display: inline-block;
}